// Colors
$primary-white: #fff;
$primary-off-white: #FEFAF1;
$primary-black: #000;
$primary-dark-gray: #363738;
$primary-green: #00FF66;
$primary-yellow: #FFAD33;
$secondary-light-gray: #F5F5F5;
$text-bg-white: #FAFAFA;
$text-bg-gray: #7D8184;
$text-bg-light-gray: #828282;
$text-bg-light-gray-1: #00000020;
$primary-red: #DB4444;
$primary-light-red: #E07575;
$primary-blue: #007bff;
$primary-light-blue: #A0BCE0;
$primary-color: #007bff; // This is the same as $primary-blue, consider removing one
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$background-color-light: #d9d9d9;

// Fonts
$font-stack: 'Helvetica Neue', sans-serif;
