@import "../../saas/variables/variables";

.product-card{
    width: 100%;
    height: 350px;
    .card-img{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondary-light-gray;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        .product-image{
            max-width: 190px;
            max-height: 180px;
            z-index: 1;
        }
        .prod-disc{
            position: absolute;
            background-color: $primary-red;
            color: $primary-white;
            padding: 2px 5px;
            z-index: 2;
            top: 5%;
            left: 5%;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
        .item-like,
        .item-see{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 2;
            top: 5%;
            right: 5%;
            width: 30px;
            height: 30px;
            background-color: $primary-white;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            &:hover{
                background-color: $primary-red;
                color: $primary-white;
            }
        }
        .item-see{
            top: calc(10% + 30px);
        }
        .add-to-cart{
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 5px;
            background-color: $primary-black;
            color: $primary-white;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            cursor: pointer;
            &:hover{
                background-color: $primary-red;
            }
        }
        @media only screen and (max-width: 768px) {
            .add-to-cart{
                display: block;
            }
        }
    }
    &:hover .add-to-cart{
        display: block;
    }
}
.discount-price{
    color: $primary-red;
}
.original-price{
    text-decoration: line-through;
    margin-left: 10px;
}

.stars{
    color: $primary-yellow;
    letter-spacing: 2px;
}

